<section class="folder">
    <h3 class="folder-title">{{incomingFolder.title}}</h3>
    <button class="control-btn">+file</button>
    <button class="control-btn">+folder</button>
    <button class="control-btn">edit</button>
    <div [ngSwitch]="items.state" *ngFor="let items of incomingFolder.data">
        <ng-template [ngSwitchCase]="'file'">
            <app-projection-template>
                <app-file [incomingFile]="items"></app-file>
            </app-projection-template>
        </ng-template>
        <ng-template [ngSwitchCase]="'folder'">
            <app-projection-template>
                <app-folder [incomingFolder]="items"></app-folder>
            </app-projection-template>
        </ng-template>
    </div>
</section>

