.folder {
    position: relative;
    display: inline;
}
.control-btn {
    padding: 5px;
    color: white;
    border: none;
    background: lightblue;
    margin: 4px;
}

p {
    display: inline-block;
}

.folder-title {
    display: inline-block;
}

.folder-title:before {
    content: '';
    display: block;
    background: yellow;
    position: absolute;
    left: -46px;
    width: 21px;
    top: 0px;
    height: 14px;
}
