<app-node icon="folder" [name]="name" [state]="state" [itemIndex]="folderIndex">
    <app-button (click)="addFile(incomingFiles, applicationFiles)">+file</app-button>
    <app-button (click)="addFolder(incomingFolders, applicationFolders)">+folder</app-button>
    <div class="folder-deep">
        <ng-container *ngFor="let items of incomingFolders">
            <app-folder-new [folderIndex]="items" [localStore]="localStore"></app-folder-new>
        </ng-container>

        <ng-container *ngFor="let items of incomingFiles">
            <app-file-new [name]="childFileName(items)"></app-file-new>
        </ng-container>
    </div>
</app-node>

