<app-node icon="folder" [name]="name" [state]="state" [itemIndex]="folderIndex">
    <app-button (click)="addFile(incomingFiles, applicationFiles)">+file</app-button>
    <app-button (click)="addFolder(incomingFolders, applicationFolders)">+folder</app-button>
    <div class="folder-deep">
        <ng-container *ngFor="let items of incomingFolders">
            <app-smart [state]="'folder'" [folderIndex]="items"></app-smart>
        </ng-container>

        <ng-container *ngFor="let items of incomingFiles">
            <app-smart [state]="'file'" [fileIndex]="items"></app-smart>
        </ng-container>
    </div>
</app-node>

