.blue {
    color: blue;
    margin-left: 30px;
}

.control-btn {
    padding: 5px;
    color: white;
    border: none;
    background: lightblue;
    margin: 4px;
}

p {
    display: inline-block;
}
.checkbox {
    margin-left: 30px;
}
