.control-btn {
    padding: 5px;
    color: white;
    border: none;
    background: lightblue;
    margin: 4px;
}

p {
    display: inline-block;
}
.file-container {
    display: inline-block;
    position: relative;
}
.file:before {
    content: '';
    display: block;
    background: red;
    position: absolute;
    left: -34px;
    top: 17px;
    width: 10px;
    height: 12px;
}
