:host {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 100%;
}
.folder-deep {
    margin: 3px 10px;
    width: 100%;
}

