<h3>{{enterPoint.name}}</h3>
<app-button (click)="addFile(enterPoint.files, applicationFiles)">+file</app-button>
<app-button (click)="addFolder(enterPoint.folders, applicationFolders)">+folder</app-button>
<app-button (click)="removeSelected()">remove selected</app-button>
<div class="folder-deep">
    <ng-container *ngFor="let items of enterPoint.folders">
        <app-folder-new [folderIndex]="items" [localStore]="localStorageService"></app-folder-new>
    </ng-container>

    <ng-container *ngFor="let items of enterPoint.files">
        <app-file-new [name]="childFileName(items)"></app-file-new>
    </ng-container>
</div>

