<h3>{{enterPoint.name}}</h3>
<app-button (click)="addFile(enterPoint.files, applicationFiles)">+file</app-button>
<app-button (click)="addFolder(enterPoint.folders, applicationFolders)">+folder</app-button>
<app-button (click)="removeSelected()">remove selected</app-button>
<div class="folder-deep">
    <ng-container *ngFor="let items of enterPoint.folders">
        <app-smart [state]="'folder'" [folderIndex]="items"></app-smart>
    </ng-container>

    <ng-container *ngFor="let items of enterPoint.files">
        <app-smart [state]="'file'" [fileIndex]="items"></app-smart>
    </ng-container>
</div>

