:host {
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
}
.folder-icon {
    background: yellow;
}
.file-icon {
    background: blue;
}
.default-icon {
    background: gray;
}
.icon {
    display: block;
    width: 14px;
    height: 14px;
    margin-top: 2px;
}

