:host {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 10px;
}
.folder-icon {
    background: yellow;
}
.file-icon {
    background: blue;
}
.default-icon {
    background: gray;
}
.icon {
    display: block;
    width: 14px;
    height: 14px;
    margin-top: 2px;
}

